<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiwatch.watch.dao.impl.StepinfoDaoImpl">
  <resultMap id="BaseResultMap" type="com.hiwatch.watch.entity.Stepinfo">
    <id column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="step_num" jdbcType="INTEGER" property="stepNum" />
    <result column="mileage" jdbcType="REAL" property="mileage" />
    <result column="calorie" jdbcType="INTEGER" property="calorie" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="time_key" jdbcType="INTEGER" property="timeKey" />
  </resultMap>
  <sql id="Base_Column_List">
    step_id, user_id, step_num, mileage, calorie, create_time, time_key
  </sql>
  
   <sql id="condition_sql">
  	<if test="userId != null and userId != '' ">
        and user_id = #{userId,jdbcType=INTEGER}
    </if>
  	<if test="createTime != null and createTime != '' ">
  		and create_time <![CDATA[=]]> DATE(#{createTime})
  	</if>
  	<if test="timeKey != null and timeKey != '' ">
  		and time_key = #{timeKey,jdbcType=INTEGER}
  	</if>
  </sql>
  
  <!-- 获取用户某天计步数据 -->
  <select id="listBy" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from step_info
    <where>
    	<include refid="condition_sql" />
    </where>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from step_info
    where step_id = #{stepId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from step_info
    where step_id = #{stepId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hiwatch.watch.entity.Stepinfo">
    insert into step_info (step_id, user_id, step_num, 
      mileage, calorie, create_time, 
      time_key)
    values (#{stepId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{stepNum,jdbcType=INTEGER}, 
      #{mileage,jdbcType=REAL}, #{calorie,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, 
      #{timeKey,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hiwatch.watch.entity.Stepinfo">
    insert into step_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stepId != null">
        step_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="stepNum != null">
        step_num,
      </if>
      <if test="mileage != null">
        mileage,
      </if>
      <if test="calorie != null">
        calorie,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="timeKey != null">
        time_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stepId != null">
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="stepNum != null">
        #{stepNum,jdbcType=INTEGER},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=REAL},
      </if>
      <if test="calorie != null">
        #{calorie,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="timeKey != null">
        #{timeKey,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hiwatch.watch.entity.Stepinfo">
    update step_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="stepNum != null">
        step_num = #{stepNum,jdbcType=INTEGER},
      </if>
      <if test="mileage != null">
        mileage = #{mileage,jdbcType=REAL},
      </if>
      <if test="calorie != null">
        calorie = #{calorie,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="timeKey != null">
        time_key = #{timeKey,jdbcType=INTEGER},
      </if>
    </set>
    where step_id = #{stepId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hiwatch.watch.entity.Stepinfo">
    update step_info
    set user_id = #{userId,jdbcType=INTEGER},
      step_num = #{stepNum,jdbcType=INTEGER},
      mileage = #{mileage,jdbcType=REAL},
      calorie = #{calorie,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      time_key = #{timeKey,jdbcType=INTEGER}
    where step_id = #{stepId,jdbcType=INTEGER}
  </update>
</mapper>