<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiwatch.watch.dao.impl.DeviceDaoImpl">
  <resultMap id="BaseResultMap" type="com.hiwatch.watch.entity.Userdevice">
    <id column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_imei" jdbcType="VARCHAR" property="deviceImei" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    device_id, user_id, device_name, device_imei, create_time
  </sql>
  <!-- 查询条件 -->
  <sql id="condition_sql">
  	<if test="userId != null and userId!= ''">
  		and user_id = #{userId}
  	</if>
  	<if test="deviceId != null and deviceId != '' ">
  		and device_id = #{deviceId}
  	</if>
  	<if test="deviceImei != null and deviceImei != ''">
  		and device_imei = #{deviceImei}
  	</if>
  </sql>
  <!-- 查询用户绑定设备 -->
  <select id="listBy" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select * from user_device
  	<where>
  		<include refid="condition_sql"/>
  	</where>
  </select>
  <!-- 删除用户绑定信息 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_device
    where device_id = #{deviceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_device
    where device_id = #{deviceId,jdbcType=INTEGER}
  </delete>
  <select id="queryUserOrDevice" resultType="java.lang.Integer" parameterType="java.util.Map">
  	select count(*) from user_device
  	where 1=1 and (device_imei = #{deviceImei} or user_id = #{userId})
  </select>
  <insert id="insert" parameterType="com.hiwatch.watch.entity.Userdevice">
    insert into user_device (device_id, user_id, device_name, 
      device_imei, create_time)
    values (#{deviceId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceImei,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.hiwatch.watch.entity.Userdevice">
    insert into user_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="deviceImei != null">
        device_imei,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceImei != null">
        #{deviceImei,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hiwatch.watch.entity.Userdevice">
    update user_device
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceImei != null">
        device_imei = #{deviceImei,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hiwatch.watch.entity.Userdevice">
    update user_device
    set user_id = #{userId,jdbcType=INTEGER},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_imei = #{deviceImei,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where device_id = #{deviceId,jdbcType=INTEGER}
  </update>

</mapper>