<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiwatch.watch.dao.impl.VerfiycodeDaoImpl">
  <resultMap id="BaseResultMap" type="com.hiwatch.watch.entity.Verfiycode">
    <id column="verfiy_id" jdbcType="INTEGER" property="verfiyId" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    verfiy_id, user_account, code, type, status, create_time
  </sql>
  
  
  <!-- 根据搜索条件获取数据 -->
  <sql id="condition_sql">
    <if test="userAccount != null and userAccount != '' ">
        and user_account = #{userAccount}
    </if>
    <if test="type != null and type != '' ">
    	and type = #{type}
    </if>
  </sql>
  
  <!-- 查询验证码信息 -->
  <select id="listBy" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
   
    from verfiy_code
    <where>
    	<include refid="condition_sql" />
    </where>
    ORDER BY create_time DESC LIMIT 1
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from verfiy_code
    where verfiy_id = #{verfiyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from verfiy_code
    where verfiy_id = #{verfiyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hiwatch.watch.entity.Verfiycode">
    insert into verfiy_code (verfiy_id, user_account, code, 
      type, status, create_time
      )
    values (#{verfiyId,jdbcType=INTEGER}, #{userAccount,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hiwatch.watch.entity.Verfiycode">
    insert into verfiy_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="verfiyId != null">
        verfiy_id,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="verfiyId != null">
        #{verfiyId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hiwatch.watch.entity.Verfiycode">
    update verfiy_code
    <set>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where verfiy_id = #{verfiyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hiwatch.watch.entity.Verfiycode">
    update verfiy_code
    set user_account = #{userAccount,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where verfiy_id = #{verfiyId,jdbcType=INTEGER}
  </update>
 
</mapper>